<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-image="/assets/square-image.png"
  data-name="Achieve More"
  data-description="1 Month ($800)"
  data-amount="2000">
</script>