pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: rgb(255, 188, 102);
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid rgb(255, 188, 102);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: rgb(255, 188, 102);
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
