<!--FOOTER-->
    <hr>
	<footer class="container">
      <ul class="list-inline">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact!', contact_path %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
      </ul> 
      <p><span class="glyphicon glyphicon-copyright-mark"></span> PeerAchieve 2013</p>
    </footer>
    <%# cl_image_tag("sample.jpg", width: 100, height: 150, crop: :fill) %>   

    <!--JAVASCRIPT-->
    <!-- Including rails js -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- For stellar.js -->
    <script type="text/javascript">$(function(){ $(window).stellar(); });</script><!--Does need to be called on window-->
    
    <!--Script for smooth scrolling to DESCRIPTION and TEAM sections-->
    <script type="text/javascript">
      var $root = $('html, body');
        $('.navbar-nav a').click(function() {
            var href = $.attr(this, 'href');
            $root.animate({
                scrollTop: $(href).offset().top
            }, 500, function () {
                window.location.hash = href;
            });
            return false;
        });
    </script>

    <!--Google Analytics implementation-->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57104689-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
