<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
  <title>Achieve More</title>
  	
    <!-- Rollbar script to handle errors -->
    <script>
    var _rollbarConfig = {
        accessToken: "1dd2237e939d44a7a306166aa1604623",
        captureUncaught: true,
        payload: {
            environment: "staging"
        }
    };
    !function(a,b){function c(b){this.shimId=++h,this.notifier=null,this.parentShim=b,this.logger=function(){},a.console&&void 0===a.console.shimId&&(this.logger=a.console.log)}function d(b,c,d){a._rollbarWrappedError&&(d[4]||(d[4]=a._rollbarWrappedError),d[5]||(d[5]=a._rollbarWrappedError._rollbarContext),a._rollbarWrappedError=null),b.uncaughtError.apply(b,d),c&&c.apply(a,d)}function e(b){var d=c;return g(function(){if(this.notifier)return this.notifier[b].apply(this.notifier,arguments);var c=this,e="scope"===b;e&&(c=new d(this));var f=Array.prototype.slice.call(arguments,0),g={shim:c,method:b,args:f,ts:new Date};return a._rollbarShimQueue.push(g),e?c:void 0})}function f(a,b){if(b.hasOwnProperty&&b.hasOwnProperty("addEventListener")){var c=b.addEventListener;b.addEventListener=function(b,d,e){c.call(this,b,a.wrap(d),e)};var d=b.removeEventListener;b.removeEventListener=function(a,b,c){d.call(this,a,b&&b._wrapped?b._wrapped:b,c)}}}function g(a,b){return b=b||this.logger,function(){try{return a.apply(this,arguments)}catch(c){b("Rollbar internal error:",c)}}}var h=0;c.init=function(a,b){var e=b.globalAlias||"Rollbar";if("object"==typeof a[e])return a[e];a._rollbarShimQueue=[],a._rollbarWrappedError=null,b=b||{};var h=new c;return g(function(){if(h.configure(b),b.captureUncaught){var c=a.onerror;a.onerror=function(){var a=Array.prototype.slice.call(arguments,0);d(h,c,a)};var g,i,j="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(g=0;g<j.length;++g)i=j[g],a[i]&&a[i].prototype&&f(h,a[i].prototype)}return a[e]=h,h},h.logger)()},c.prototype.loadFull=function(a,b,c,d,e){var f=g(function(){var a=b.createElement("script"),e=b.getElementsByTagName("script")[0];a.src=d.rollbarJsUrl,a.async=!c,a.onload=h,e.parentNode.insertBefore(a,e)},this.logger),h=g(function(){var b;if(void 0===a._rollbarPayloadQueue){var c,d,f,g;for(b=new Error("rollbar.js did not load");c=a._rollbarShimQueue.shift();)for(f=c.args,g=0;g<f.length;++g)if(d=f[g],"function"==typeof d){d(b);break}}"function"==typeof e&&e(b)},this.logger);g(function(){c?f():a.addEventListener?a.addEventListener("load",f,!1):a.attachEvent("onload",f)},this.logger)()},c.prototype.wrap=function(b,c){try{var d;if(d="function"==typeof c?c:function(){return c||{}},"function"!=typeof b)return b;if(b._isWrap)return b;if(!b._wrapped){b._wrapped=function(){try{return b.apply(this,arguments)}catch(c){throw c._rollbarContext=d(),c._rollbarContext._wrappedSource=b.toString(),a._rollbarWrappedError=c,c}},b._wrapped._isWrap=!0;for(var e in b)b.hasOwnProperty(e)&&(b._wrapped[e]=b[e])}return b._wrapped}catch(f){return b}};for(var i="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),j=0;j<i.length;++j)c.prototype[i[j]]=e(i[j]);var k="//d37gvrvc0wt4s1.cloudfront.net/js/v1.1/rollbar.min.js";_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||k;var l=c.init(a,_rollbarConfig);l.loadFull(a,b,!1,_rollbarConfig)}(window,document);
    </script>

  	<!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!--Link for Noto Sans Google Font-->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

    <!--Link for Lobster Google Font-->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!--!!! Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>


<!--NAVBAR-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"><!--creates the dark grey navbar at the top-->
      <div class="container"><!--moves the content to the middle-->
        <!-- MOBILE MENU -->
        <div class="navbar-header"><!--for displaying the mobile menu-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>
        </div>
        <!-- DESKTOP MENU -->
        <nav class="navbar-collapse collapse"><!--holds the menu items-->
          <ul class="nav navbar-nav">
            <li role="presentation" class="<%= 'active' if current_page?(root_path) %>"><%= link_to root_path do %>Peer<span style="font-family: 'Lobster', cursive;">Achieve</span><% end %></li>
            <!-- <li><a href="#description">Description</a></li>
            <li><a href="#team">Team</a></li> -->
            <li role="presentation" class="<%= 'active' if current_page?(blogs_path) %>"><a href="blog">Blog</a></li>
            <li role="presentation" class="<%= 'active' if current_page?(about_path) %>"><a href="about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
            <li role="presentation" class="<%= 'active' if current_page?(faq_path) %>"><a href="faq"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
          </ul>
          
          <div class="navbar-form navbar-right">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { style: 'display:inline' } ) do |f| %>
            <% if user_signed_in? %>
              <p style="color:white">You are logged in as <%= current_user.email %>              
              <%= link_to 'log out', destroy_user_session_path, method: :delete %></p>
              
              <% if current_user.is_admin? %>
                <%= link_to 'admin panel', rails_admin_path %>
              <% end %>
              
            <% else %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
                </div>
                <%= f.submit 'Sign In', class: 'btn btn-primary' %><!--<span style="color: #a09797"> or </span>-->
                <!--<li><%# link_to "Sign In", new_user_session_path %></li>-->
            <% end %>
          <% end %>
          <!--<div class="form-group">-->
          <!--  <% button_to "Sign Up", new_user_registration_path, class: 'btn btn-success', method: :get %>-->
          <!--</div>-->
        </div>  
        </nav><!--/menu items-->
      </div><!--/container-->
    </div><!--/NAVBAR-->